mat-card-content {
    padding: 0;

    &:last-child {
        padding-bottom: 0;
    }
}

.add-user-btn {
    position: absolute;
    right: 56px;
    bottom: 56px;
}
.user-table {
    border-collapse: collapse;
    tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);

        &:last-child {
            border-bottom: 0;
        }

        &:hover:not(:first-child) {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.04);
        }

        td {
            height: 48px;

            &:first-child {
                padding-left: 32px;
            }
        }

        th {
            &:first-child {
                padding-left: 32px;
            }
        }
    }
    
    th {
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
        font-weight: 500;
        text-align: start;
    }
}